openapi: 3.0.3
info:
  title: Dashboard API
  version: 1.0.0
servers:
- url: http://localhost:8080/api
paths:
  /login:
    post:
      operationId: login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Login success
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
      summary: Login and set auth cookie
      tags:
      - login
      x-openapi-router-controller: launchpad_api.controllers.login_controller
  /send/otp:
    post:
      operationId: send_otp_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OtpRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: sent otp  successfully
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
      summary: send otp
      tags:
      - otp
      x-openapi-router-controller: launchpad_api.controllers.otp_controller
  /user:
    delete:
      operationId: user_delete
      parameters:
      - explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: User deleted successfully
      summary: Delete a user
      tags:
      - user
      x-openapi-router-controller: launchpad_api.controllers.user_controller
    get:
      operationId: user_get
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of users fetched successfully
      summary: Get list of users
      tags:
      - user
      x-openapi-router-controller: launchpad_api.controllers.user_controller
    post:
      operationId: user_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: User created successfully
      summary: Create a new user
      tags:
      - user
      x-openapi-router-controller: launchpad_api.controllers.user_controller
    put:
      operationId: user_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: User updated successfully
      summary: Update an existing user
      tags:
      - user
      x-openapi-router-controller: launchpad_api.controllers.user_controller
  /verify/otp:
    post:
      operationId: verify_otp_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: verified otp successfully
          headers:
            Set-Cookie:
              explode: false
              schema:
                type: string
              style: simple
      summary: verify otp
      tags:
      - otp
      x-openapi-router-controller: launchpad_api.controllers.otp_controller
components:
  schemas:
    LoginRequest:
      example:
        otp: 0.8008281904610115
        username: username
      properties:
        username:
          title: username
          type: string
        otp:
          title: otp
          type: number
      title: LoginRequest
      type: object
    OtpRequest:
      example:
        email: email
      properties:
        email:
          title: email
          type: string
      title: OtpRequest
      type: object
    UserRequest:
      example:
        roles:
        - admin
        - editor
        name: John Doe
        emailid: john.doe@example.com
      properties:
        name:
          example: John Doe
          title: name
          type: string
        emailid:
          example: john.doe@example.com
          format: email
          title: emailid
          type: string
        roles:
          example:
          - admin
          - editor
          items:
            type: string
          title: roles
          type: array
      required:
      - emailid
      - name
      - roles
      title: UserRequest
      type: object
  securitySchemes:
    cookieAuth:
      in: cookie
      name: session_id
      type: apiKey
      x-apikeyInfoFunc: launchpad_api.controllers.security_controller.info_from_cookieAuth
